@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --red: #FD7C7C;
    --swiper-container-width: calc(80em / 3);
}

input:focus, textarea:focus {
    --tw-ring-color: black !important;
    border: none!important;
}

.tagify.tagify--focus {
    --tags-focus-border-color: black !important;
}

input[type=submit] {
    cursor: pointer;
}

html {
    height: 100%;
}

body {
    height: calc(100% - 4em);
    line-height: 1;
}

.onlyfrogzContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.4em 1.2em;
    align-content: flex-start;
    align-items: center;
}

.onlyfrogzNavLogo {
    color: black;
    font-family: 'Allura', cursive;
    font-size: 2rem;
    display: inline-block;
    margin-right: 1em;
}

.onlyfrogzNavLogoAndSearchbar {
    flex: 0.2 1 auto;
    display: flex;
    align-items: center;
    max-width: 500px;
}

.onlyfrogzNav {
    background-color: #E5E5E5;
    top: 0;
    left: 0;
    position: fixed;
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.onlyfrogzSearchContainer {
    position: relative;
    z-index: 2
}

.onlyfrogzSearchResults {
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px 1em 1em 1em;
    border-radius: 10px;
    background-color: #E5E5E5;
    z-index: -1;
    display: none;
    width: 50vw;
}

.onlyfrogzSearchResults h2 {
    font-size: 1.2rem;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
    font-weight: bold;
}

.onlyfrogzSearchResults h2:not(:first-of-type) {
    margin-top: 3em;
}

.onlyfrogzSearchResults.shown {
    display: block;
}

.onlyfrogzSearchUsers, .onlyfrogzSearchPosts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 219px;
    grid-gap: 1em;
}

.onlyfrogzSearchUsers article {
    background-color: white;
    border-radius: 20px;
    padding: 1em 1.5em 1em 0.6em;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s;
    display: flex;
    align-items: center;
}

.onlyfrogzSearchUsers article:hover {
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.onlyfrogzSearchPosts h3 {
    margin-top: 0.5em;
}

.onlyfrogzSearchPosts article {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s;
}

.onlyfrogzSearchPosts article:hover {
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.onlyfrogzSearchPosts img, .onlyfrogzSearchPosts video {
    max-height: 164px;
    width: 100%;
    object-fit: cover;
}


.onlyfrogzSearchUsers img {
    border-radius: 9999px;
    margin-right: 1em;
}

.onlyfrogzSearchbar {
    flex: 0.4 1 auto;
    background-color: #99D39C;
    border-radius: 9999px;
    padding: 8px 20px;
}

.onlyfrogzNavContainer {
    display: flex;
    align-items: center;
}

.onlyfrogzNavButton {
    border-radius: 9999px;
    padding: 8px 20px;
    margin: 0 0.8em;
}

.onlyfrogzNavButton:focus {
    box-shadow: 0 0 0 2px black;
}

.onlyfrogzConnectionButton {
    background-color: #B7DEB3;
}

.onlyfrogzFeedButton {
    background-color: #FBC067;
}

.onlyfrogzFeedButton:hover {
    background-color: #EA9311;
}

.onlyfrogzDiscoverButton {
    background-color: #F0B2FF;
}

.onlyfrogzDiscoverButton:hover {
    background-color: #9A4EAD;
}

.onlyfrogzPublishButton {
    background-color: #73BCFF;
}

.onlyfrogzPublishButton:hover {
    background-color: #2D83D2;
}

.onlyfrogzAvatarWrapper {
    position: relative;
}

.onlyfrogzAvatarWrapper .onlyfrogzAvatarSubmenu {
    display: none;
}

.onlyfrogzAvatarWrapper:hover .onlyfrogzAvatarSubmenu {
    display: block;
}

.onlyfrogzAvatarContainer {
    display: flex;
    background-color: #99D39C;
    border-radius: 9999px;
    align-content: center;
    align-items: center;
    padding-left: 1em;
    height: 3em;
    margin: 0 0.8em;
    z-index: 2;
    position: relative;
}

.onlyfrogzAvatarSubmenu {
    position: absolute;
    right: 0.2em;
    min-width: calc(0.4em + 100%);
    top: -0.4em;
    padding: calc(50px + 1.4em) 1em 1em 1em;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    text-align: right;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.onlyfrogzAvatarSubmenu > a {
    display: block;
    white-space: nowrap;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.2s;
}

.onlyfrogzAvatarSubmenu > a.alert {
    background-color: rgba(255, 0, 0, 0.103);
}

.onlyfrogzAvatarSubmenu > a:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

.onlyfrogzAvatarSubmenu > a:not(:last-of-type) {
    margin-bottom: 0.4em;
}


.onlyfrogzProfileButton img {
    border-radius: 9999px;
    width: 3em;
    height: 3em;
}

.onlyfrogzProfileButton {
    margin-left: 0.3em;
}

.onlyfrogzContent {
    margin-top: 4em;
    min-height: 100%;
    padding-bottom: 4em;
}

.onlyfrogzHeaderWelcome {
    position: relative;
    background-image: url('/assets/images/welcome_bg.jpg');
    background-size: cover;
    height: 100%;
}

.onlyfrogzRightPanelWelcome {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, rgba(90, 220, 69, 0.1025) 100%);
    box-shadow: inset -830px 4px 250px rgba(92, 92, 92, 0.5);
    backdrop-filter: blur(8px);
}

.onlyfrogzTitleWelcome {
    margin-top: 5rem;
    text-align: center;
    color: #B7DEB3;
    font-family: 'Allura', cursive;
    font-size: 6rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.onlyfrogzCatchphraseWelcome {
    margin-top: 2rem;
    padding: 0 4rem;
    text-align: center;
    color: white;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.onlyfrogzButtonsWelcome {
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    text-align: center;
}

.onlyfrogzRegisterButtonWelcome {
    background-color: #B7DEB3;
    border-radius: 9999px;
    padding: 10px 3rem;
}

.onlyfrogzConnectionButtonWelcome {
    padding-top: 10px;
    color: white;
    text-decoration-line: underline;
}

.onlyfrogzForm {
    font-family: 'Ubuntu', sans-serif;
    background: none;
}

.onlyfrogzButtonForm {
    border-radius: 9999px;
    padding: 10px 3rem;
}

.onlyfrogzForgotPasswordButtonLogin {
    text-decoration: underline;
}

.onlyfrogzFormBody {
    background: url('/assets/images/form_bg.svg') repeat;
    background-size: 70px;
}

.onlyfrogzForm > div {
    background: none;
}

.onlyfrogzForm > div > div:nth-child(2) {
    background: #B7DEB3;
}

.onlyfrogzTitleForm {
    margin-top: 5rem;
    text-align: center;
    color: #B7DEB3;
    font-family: 'Allura', cursive;
    font-size: 6rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.25em;
}

.credit {
    position: fixed;
    bottom: 1em;
    left: 1em;
}

.credit a {
    text-decoration: underline;
}

.onlyfrogzPageTitle {
    font-size: 3em;
    margin: 2em 0 0 3em;
}

.onlyfrogzEmptyFeed {
    font-style: italic;
    font-size: 2em;
    text-align: center;
    margin-top: 20%;
}

.onlyfrogzEmptyFeed > a {
    text-decoration: underline;
}

.onlyfrogzPostContainer {
    display: grid;
    grid-template-columns: minmax(70px, 10%) 450px 40%;
    grid-template-rows: 1fr;
    gap: 0 0;
    margin: 4em 0 0 8.25em;
    width: 70%;
    height: 20em;
}

.onlyfrogzPostTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 0;
    margin-left: 2em;
    height: 100%;
}

.onlyfrogzPostPremiumDescription {
    color: grey;
    font-style: italic;
}

.onlyfrogzPostTitle {
    margin-top: 0.25em;
    font-size: 2em;
    font-weight: bold;
}

.onlyfrogzTags > span {
    display: inline-block;
    margin: 0 0.25em 0.25em 0.25em;
    padding: 4px 10px;
    border-radius: 9999px;
    font-size: 0.75em;
    color: white;
}

.onlyfrogzAvatarAndSocialContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 2em;
    padding: 1em 0;
}

.onlyfrogzCircleAvatar {
    position: relative;
}

.onlyfrogzCircleAvatar:hover > .onlyfrogzUserInfoPanel, .onlyfrogzUserInfoPanel:hover {
    opacity: 1;
}

.onlyfrogzCircleAvatar img {
    position: relative;
    max-width: initial;
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    z-index: 3;
}

.onlyfrogzUserInfoPanel {
    opacity: 0;
    position: absolute;
    background-color: #E5F0E5;
    border-radius: 10px;
    top: -1em;
    left: -1em;
    z-index: 2;
    min-width: 20em;
}

.onlyfrogzUserInfoPanel > div {
    margin-left: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.onlyfrogzUserInfoPanel > div > h3 {
    margin-bottom: 0.5em;
}

.onlyfrogzUserInfoPanel > div > h3 {
    font-weight: bold;
}

.onlyfrogzUserInfoPanel > div > span {
    display: block;
}

.onlyfrogzUnsubscribe {
    display: block;
    background-color: #F1ADAD;
    text-align: center;
    border-radius: 9999px;
    padding: 8px 20px;
    margin: 0.5em auto 0 auto;
}

.onlyfrogzSocial {
    font-size: 1.2em;
    text-align: right;
}

.onlyfrogzSocial > span {
    display: block;
}

.onlyfrogzSocial > * {
    margin-top: 0.5em;
}

.swiper-container {
    width: var(--swiper-container-width);
    height: 100%;
}

.swiper-slide > * {
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-grow: 5;
}

.swiper-button-prev, .swiper-button-next {
    color: #99D39C !important;
}

.swiper-pagination-bullet-active {
    background-color: #99D39C !important;
}

.onlyfrogzPersonnalPostContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-template-rows: 1fr;
    gap: 1em;
    text-align: center;
    width: 80%;
    max-width: 1900px;
    margin: 3em auto 0 auto;
}

.onlyfrogzUploadContainer {
    display: flex;
    justify-content: center;
    margin: 2em auto 0 auto;
    max-width: 80em;
    width: 80%;
}

.onlyfrogzConfirmUpload {
    background-color: #E3F7E1;
    color: black;
    padding: 8px 20px;
    border-radius: 9999px;
}

.onlyfrogzCancelUpload {
    background: transparent;
    border: 1px solid var(--red);
    color: var(--red);
    padding: 8px 20px;
    border-radius: 9999px;
}

.onlyfrogzUploadPostDescription {
    border-radius: 8px;
    background-color: rgba(196, 196, 196, 0.3);
    resize: none;
    width: 100%;
    border: none;
}

.onlyfrogzUploadPostTitle {
    margin-top: 0.25em;
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(196, 196, 196, 0.3);
    padding: 8px 20px;
    border-radius: 9999px;
    color: black;
}

.onlyfrogzUploadTags {
    color: white;
    margin-top: 2.6em;
    padding: 8px 20px;
    border-radius: 9999px;
}

.onlyfrogzUploadCheckbox {
    display: none;
}

.onlyfrogzUploadPremium {
    position: relative;
    display: inline-block;
}

.onlyfrogzUploadPremium:hover {
    cursor: help;
}

.onlyfrogzUploadLeftPanel, .onlyfrogzUploadRightPanel {
    width: 100%;
    padding: 0 2em;
    margin: 0 1em;
}

.onlyfrogzFileUploader {
    height: 16em;
    max-height: 16em;
}

.onlyfrogzEmptyLastPosts {
    margin: 3em 0 5em 0;
}

.onlyfrogzUploadButtons {
    text-align: center;
}

.onlyfrogzUploadButtons > * {
    margin: 0 2em;
}

.onlyfrogzPostTitlePublish {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.onlyfrogzPostSlidePublish {
    position: relative;
    height: 25em;
}

.onlyfrogzDeletePostButton:hover, .onlyfrogzPostSlidePublish:hover ~ .onlyfrogzDeletePostButton {
    opacity: 1;
}

.onlyfrogzDeletePostButton {
    filter: brightness(100%) !important;
    background-color: white;
    opacity: 0;
    position: absolute;
    z-index: 9999;
    transform: translate(-50%, 0);
    top: 50%;
    left: 50%;
    transition: 0.2s background, 0.2s color;
}

.onlyfrogzDeletePostButton:hover {
    background-color: var(--red);
    color: white;
}

.onlyfrogzPostPublish {
    margin: 3em 1em 0 1em;
    position: relative;
}

.hovered {
    filter: brightness(50%);
}

.tagify__tag > div {
    border-radius: 9999px !important;
}

.tagify__input {
    color: black !important;
}

.filepond--item {
    width: calc(50% - 0.5em);
}

.filepond--panel-root {
    background-color: #D6E1D1 !important;
}

.onlyfrogzFooter {
    background-color: #D6E1D1;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.onlyfrogzPopularTags {
    margin: 1em 0 1em 8em;
}

.onlyfrogzPostsPerTag {
    overflow-x: auto;
    white-space: nowrap;
}

.onlyfrogzPostPerTag {
    display: inline-block;
    margin-bottom: 2.75em;
}

.onlyfrogzPostPerTag > img, .onlyfrogzPostPerTag > video {
    object-fit: cover;
}

.onlyfrogzPostPerTag:not(:last-of-type) {
    margin-right: 1em;
}

.onlyfrogzPostPerTag > .swiper-container {
    height: 42vh;
    width: var(--swiper-container-width);
    margin: 0;
}

.onlyfrogzPostDiscover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--swiper-container-width);
    padding: 0 2em;
}

.onlyfrogzPostTitleDiscover {
    font-weight: bold;
    font-size: 1em;
}

.onlyfrogzUserInfoPanelDiscover {
    display: none;
}

.onlyfrogzCircleAvatarDiscover:hover > .onlyfrogzUserInfoPanelDiscover, .onlyfrogzUserInfoPanelDiscover:hover {
    display: block;
}

.onlyfrogzTag {
    margin: 2em 0 1em 2.5em;
    display: inline-block;
    color: white;
    padding: 8px 20px;
    border-radius: 9999px;
}

.onlyfrogzUserInfoContainer {
    margin-top: 6em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.onlyfrogzUserName {
    font-size: 2em;
    font-weight: bold;
}

.onlyfrogzUserInfo {
    text-align: left;
}

.onlyfrogzUserInfo > span {
    display: block;
}

.onlyfrogzPostCountInfo {
    margin-bottom: 2em;
}

.onlyfrogzCircleAvatarUser > img {
    max-width: initial;
    width: 96px;
    height: 96px;
    border-radius: 9999px;
}

.onlyfrogzCircleAvatarUser {
    margin-left: 15em;
    margin-right: 2em;
    align-self: center;
}

.onlyfrogzSubscribeSelect {
    background-color: #D5EBD5;
    padding: 8px 35px 8px 20px;
    border-radius: 9999px;
}

.onlyfrogzCircleAvatarPost {
    align-self: center;
    margin-right: 2em;
}

.onlyfrogzPostPageContent {
    margin: 0 auto;
    width: 80%;
}

.onlyfrogzPostPageDescription {
    padding: 0;
    margin: 2em 0;
}

.onlyfrogzLikeAndSharePost {
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-size: 1.5em;
    text-align: left;
}

.onlyfrogzLikeAndSharePost > button {
    margin-left: 1em;
}

.onlyfrogzOnePostSwiper {
    margin: initial !important;
    width: 100%;
    height: 40vh;
}

.onlyfrogzOnePostSwiper .swiper-slide {
    width: calc(40vh * (4 / 3));
}

.onlyfrogzComment {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1em;
    margin-top: 1em;
}

.onlyfrogzComment:last-of-type {
    margin-bottom: 0;
}

.onlyfrogzCommentContent > h3 {
    margin-bottom: 1em;
}

.onlyfrogzCommentContent {
    width: 100%;
    padding: 8px 20px;
    border-radius: 25px;
}

.onlyfrogzCommentContent > button {
    display: block;
    margin-left: auto;
}

.onlyfrogzPostComment{
    background-color: transparent;
    border: 1px solid #D9E6D7;
    color: black;
    resize: none;
}

.onlyfrogzCommentButtons{
    right: 0;
    bottom: 0;
    position: absolute;
    transform: translate(-20%, -60%);
}

.onlyfrogzCommentForm {
    width: 100%;
    border-radius: 25px;
}

.onlyfrogzBackgroundContent {
    height: 100%;
    padding-bottom: 0;
}
